@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #273036;
}

a {
  text-decoration: none;
}

.logo {
  margin-right: 10px;
}

.navbar {
  height: 75px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
}

#banner {
  background-image: url(img/bg/bg-main-cover.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  padding-top: 250px;
}

.title {
  margin: auto;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 60px;
}

.transition1 {
  padding-top: 50px;
  z-index: 2;
  height: 200px;
  background-image: linear-gradient(#cc000000, #273036);
}

#rarity {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
  font-weight: 400;
}

.common,
.rare,
.limited {
  padding: 2rem;
  margin: auto;
}

.compic {
  padding: 10px;
}

.com-col {
  padding-top: 10px;
}

#commonmore {
  display: none;
}
#raremore {
  display: none;
}
#limitedmore {
  display: none;
}

.seemore {
  width: 300px;
}

.abouttittle {
  font-family: Montserrat;
  font-weight: 400;
  margin: auto;
}

.aboutphar {
  text-align: center;
}

#social {
  margin: auto;
}

.socialtittle {
  margin: auto;
}

.buttonbox {
  margin: auto;
}

.socbutton {
  margin: auto;
  width: 300px;
}

#roadmap {
  margin: auto;
}

.phase {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1980px) {
  .phase {
    width: 500px;
  }
}
@media only screen and (max-width: 1280px) {
  .phase {
    width: 500px;
  }

  .compic {
    width: 250px;
  }
}
@media only screen and (max-width: 960px) {
  .phase {
    width: 300px;
  }

  .buttonbannersoc {
    margin: auto;
    width: 300px;
  }

  .buttonbanneros {
    margin: auto;
    width: 300px;
  }
}

.foot {
  margin-top: 100px;
  margin-bottom: 50px;
}
